<header class="navbar" id="top">
  <ul>
    <li><a href="/home">Home</a></li>
    <% if cookies["loggedIn"] == "true" %>
      <li><a href="/log-out">Log Out</a></li>
    <% else %>
      <li><a href="/login">Login</a></li>
    <% end %>
    <% if cookies["loggedIn"] == "true" %>
      <li><a href="/preferences">Preferences</a></li>
    <% end %>
  </ul>
</header>