<header class="navbar" id="top">

  <ul>
    <li><a href="/home">Home</a></li>
    <% if cookies["loginID"] == session[:session_id] %>
      <li><a href="/log-out">Log Out</a></li>
    <% else %>
      <li><a href="/login">Login</a></li>
    <% end %>
    <% if cookies["loginID"] == session[:session_id] %>
      <li><a href="/preferences">Preferences</a></li>
    <% end %>
  </ul>
</header>