<%= render 'partials/navbar' %>

<% if cookies[:displayMode] == "dark" %>
  <% @classes = "home dark" %>
<% else %>
  <% @classes = "home light" %>
<% end %>

<main class="<%= @classes %>">
  <hr>

  <h1>Articles</h1>
  <article>
    <h2>Lorem ipsum dolor sit amet</h2>
    Lorem ipsum dolor sit amet, virtute legendos consequat ut has, te eum facete atomorum conclusionemque, ei tritani voluptatum eam. Quot elit zril et eam, ad eos hinc recusabo aliquando. Sea odio voluptatibus at. Aperiri vocibus nominati et eum, id nam nullam ullamcorper. Ex mei amet nibh. An mel vide vituperatoribus.

    Vix an postea eleifend expetenda. Ut nec quot praesent. Id nam eius labores ullamcorper. Et nec agam erant, quodsi praesent mea te, vim ei modus ignota verear.

    Nec ei dicit altera omnesque. Sed solet libris id. Quod nullam evertitur ne cum, te sumo graeco platonem mea. Propriae honestatis eam te.

    Recusabo honestatis omittantur et nam, cibo viris doming vel ex. Sumo scriptorem ex pri. Tale dicam intellegam per ne. Solet homero salutandi sit cu, an vel utamur facilis convenire.

    His possit corpora complectitur ea. Ea adipisci electram periculis qui. Duo at vitae omittantur repudiandae. Mea prima nulla utroque ei, est sale illud eleifend at.  </article>
  <article>
    <h2>Qui te animal nusquam imperdiet</h2>
    Lorem ipsum dolor sit amet, sea ex malis tamquam perfecto, nec agam omnium partiendo cu, eligendi verterem senserit no quo. Oblique omittam mediocritatem eu vis, sed tale dicunt albucius no, vix alterum argumentum signiferumque ut. Quem sonet constituam est at, maluisset eloquentiam quo eu. An nibh illum persequeris per.

    Elitr alterum voluptatum per in. Reque labitur vim cu. Nam feugiat detraxit inimicus et, cum ne populo pertinax salutatus, vim everti probatus eu. Possim mandamus liberavisse an eum, eligendi fabellas eam an.

    In nam erat utinam, vix te vocent impetus impedit. Nominavi insolens petentium et sit, qui te doming argumentum. Stet quaerendum ei vim, alienum principes appellantur vis ad. Duo oporteat antiopam mnesarchum ut, pro ex autem pertinax, mel no prima veritus albucius. In nusquam dolores quo, ex hinc saperet eos, no quo sale verterem percipitur.

    Eum rebum velit singulis cu, eu nec assum dolor, qui eu quod legere mucius. Eos et malorum platonem, mea an amet purto, lorem virtute ea pro. Errem quaestio iracundia his at. Eos audiam accusata definitionem eu, purto malis primis sed ut, ut qui eros falli everti. Error iisque no qui. Omnes sanctus an vix, in nullam efficiendi cum. Alterum eruditi ut vim.

    Nec soleat eruditi ullamcorper cu, inani menandri electram eu usu. Ut dico aliquid instructior quo, te vel quod audiam disputando. Ei est nonumes dissentias disputando. Tale delenit minimum sit te. Impetus eruditi torquatos eam cu, ad veri populo molestie duo, nec minim legendos ut.  </article>
  <article>
    <h2>Oratio deterruisset</h2>
    Lorem ipsum dolor sit amet, libris volumus cum te, iusto aliquam cu qui, id eripuit minimum concludaturque est. Ne vis deseruisse necessitatibus, no eos nisl recusabo mandamus. Alii propriae detracto eu pro. Quidam consequat interesset ut mea, pri vero dicta platonem te, saepe legere vivendo vim te. Ei nam latine postulant, purto probo homero sea ei, ne cum rationibus sententiae comprehensam.

    Ei his malis graece insolens, timeam vituperatoribus ne sit. Ea vel nisl harum fabulas. Suas volutpat mel ei. Vix velit scaevola vulputate id. Oratio propriae dissentias mea eu, ad magna minim explicari sit, etiam nostrud cu sed. Lobortis intellegebat ea nec, id eum oporteat praesent.

    Nibh urbanitas has cu, populo commodo vim eu. Primis honestatis te nec, vel fabulas ceteros quaestio ne. Pri ei bonorum fabellas recusabo, essent labitur eloquentiam cum at. Mel eu quot iusto. Ex mea impedit definitionem, vis falli eirmod indoctum et.

    In integre gubergren honestatis usu. Has propriae officiis erroribus ne. Cum no latine lobortis, an harum mandamus sed, vis at minim numquam. In deserunt omittantur vel, vero suscipit no sit. Prima malis viris sit in, veniam constituam vim ad. Eam ea hinc instructior, ut cum tractatos expetendis accommodare. Cetero probatus vis id, vim id magna diceret tacimates.

    His ad senserit complectitur, ad mediocrem ocurreret duo. Vel no oratio detraxit, te minim eligendi mei. Impedit placerat referrentur cu mea. Pro latine postulant adipiscing at, vel ad petentium efficiendi ullamcorper. Pro ea iriure moderatius. Dicta aliquando vituperata ne has, nam no prima altera, accumsan insolens consequuntur no duo.  </article>
  <article>
    <h2>Equidem perpetua scriptorem ad nam</h2>
    Lorem ipsum dolor sit amet, cum ex minim invenire. Ea modus posse mnesarchum mei, albucius torquatos ad pro. Nominavi conclusionemque mei ad. Nihil alienum scripserit vim in, modo errem ornatus cum ut.

    Cu inimicus posidonium per, amet intellegam nam at. Ea sint omnes maiorum mea, suas audire comprehensam at est. Mel at latine eligendi. Impedit apeirian at usu.

    In vidisse delenit ius. Augue ocurreret vix cu, eu torquatos delicatissimi his, apeirian neglegentur est no. Sit vocent fabellas percipitur ad. Justo postulant vituperatoribus eu qui. Nostrud molestie nam te. Hinc adhuc nonumes mei cu, at mei reque singulis repudiare, congue deseruisse liberavisse ut qui.

    Habeo admodum instructior ei duo. Phaedrum convenire voluptatum mel cu. Modo iuvaret deleniti ad sea, diceret molestie ius in. Eum purto minim iracundia ea. Et sonet impedit eloquentiam vix.

    Scaevola expetenda concludaturque per ea, vis eu debet timeam. His nonumes nostrum ne, cu his adversarium neglegentur. Euismod facilis referrentur at mei. Mel tota efficiendi consectetuer no, est ut illud idque eleifend. Vis omnium pertinax laboramus ex, ad elit sonet tantas nec, debitis conclusionemque ut sea. Ne odio choro virtute nec.  </article>
  <article>
    <h2>Qui saepe putent</h2>
    Lorem ipsum dolor sit amet, nam populo sententiae ut, an detracto voluptua usu. Eripuit corrumpit no sit, elitr evertitur ex est. Cum at etiam quando, sumo nusquam scriptorem eam at. Atomorum percipitur sed et, ne singulis disputando nec. Pri dico accusata ne, ut eum natum iriure qualisque.

    Et dicam quodsi partiendo usu. Pro ad minim euismod, mei ea homero denique. Error mandamus prodesset eos ex. Vis tale malorum interesset ad, mei ei possim definiebas persequeris, errem omittam inimicus mea no. Dicit epicurei referrentur per cu. Postea putant in mei, ne has zril ancillae ullamcorper.

    Quo quem volutpat ad, mea cibo audire definitionem te. Duis recteque ad has, eu amet porro voluptaria vim, quis etiam mea id. Ut quot nostrum pri, quem necessitatibus an sit. Ius ad quod nostrud argumentum, ea quo lorem eruditi, sed probo interpretaris et. Ex melius philosophia nec, legimus vituperata vis ad. In pro simul vivendo, explicari hendrerit rationibus an nec.

    Cu sit quis clita, habeo ridens facilis eos ad. Usu malorum omnesque ne, perpetua constituam scribentur cu nam. Feugait definiebas sed te, has labore vivendo intellegebat ea. Ea equidem postulant sea, aliquam vivendo consequuntur id sit. Qui an falli invenire oportere, ei omnesque facilisis vim, justo voluptua principes ex mea.

    Veri movet offendit te nec. Qui id delenit instructior, vivendo adolescens mei ei, at usu saepe gubergren disputationi. Debet iriure scaevola est ut, alii tation assueverit no pri, animal intellegat adversarium te nam. Te eos partem euismod mentitum. Pro ne nostrum facilisi, duo ut commodo efficiendi. Mea case quando partem at, audiam oporteat consulatu quo te.  </article>
</main>

<%= render 'partials/footer' %>
