<body class="<%= cookies[:displayMode] %>">

<%= render 'partials/navbar' %>

<main class="preferences">
  <% if cookies[:displayMode] != "dark" %> <hr> <% end %>

  <h1>Error</h1>
  <p>Please log in to view preferences. </p>


</main>

<%= render 'partials/footer' %>
</body>