<%= render 'partials/navbar' %>

<% if cookies[:displayMode] == "dark" %>
  <% @classes = "preferences dark" %>
<% else %>
  <% @classes = "preferences light" %>
<% end %>

<main class="<%= @classes %>">
  <hr>

  <h1>Error</h1>
  <p>Please log in to view preferences. </p>


</main>

<%= render 'partials/footer' %>
